.PatientInfo {
}

.PatientInfo-heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.PatientInfo-heading .Badge {
  margin-left: 8px;
}

.PatientInfo-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.PatientInfo-item .Subheading {
  margin-right: 4px;
}

.PatientInfo-body {
  padding: 16px 10px;
}

.PatientInfo-loading {
  margin: 15px;
  padding-left: 15px;
}
