.Summary {
  background-color: var(--secondary-lightest);
  height: 100%;
}

.Summary-body {
  justify-content: center;
  display: flex;
  align-items: center;
  padding: 16px;
  flex-direction: column;
}

.Summary-table {
  width: 50%;
  height: 300px;
  margin-bottom: 50px;
}
